.flappy-bird-container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bird {
    position: absolute;
    left: 50%;
    /* animation: fly 1.5s ease-in-out infinite; */
}