.pipe-bottom {
    bottom: 0;
}

.pipe-up {
    top: 0;
}

.pipes-spacing {
    padding: 75.5px 0px;
}

.pipes-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 66px;
}

.to-top-pipe-wrapper {
    transform: rotate(180deg);
}