.pipe-bottom {
    bottom: 0;
}

.pipe-up {
    top: 0;
}

.pipes-spacing {
    padding: 75.5px 0px;
}

.pipes-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.short-pipe-wrapper,
.large-pipe-wrapper {
    position: absolute;
}

.short-pipe-wrapper img,
.large-pipe-wrapper img {
    max-width: 66px;
    height: 100%;
    object-fit: cover;
}
